@using ConvercionPortal.Models
@model Customer

<h1 class="app-page-title">Контрагент</h1>

<div class="row g-4 settings-section">
	<div class="col-12 col-md-4">
		<h3 class="section-title">@Model.Name</h3>
		<div class="section-intro">Отредактируйте данные контрагшента в форме</div>
	</div>
	<div class="col-12 col-md-8">
		<div class="app-card app-card-settings shadow-sm p-4">
						    
			<div class="app-card-body">
				<form class="settings-form" enctype="multipart/form-data" method="post">
					<div class="mb-3">
						<label asp-for="@Model.Name" class="form-label">Название<span class="ms-2" data-container="body" data-bs-toggle="popover" data-trigger="hover" data-placement="top" data-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
<path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
<circle cx="8" cy="4.5" r="1"/>
</svg></span></label>
						<input type="text" class="form-control" asp-for="@Model.Name">
						<span asp-validation-for="@Model.Name" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="@Model.Description" class="form-label">Описание</label>
						<input type="text" class="form-control" asp-for="@Model.Description">
						<span asp-validation-for="@Model.Description" class="text-danger"></span>
					</div>
					<button type="submit" class="btn app-btn-primary" >Сохранить</button>
					@if (Model.Id > 0){
						<a asp-page="/Customers/Customer" asp-route-ID="@Model.Id" class="btn app-btn-secondary">К просмотру</a>
					} else
					{
						<a asp-page="/Customers/CustomerList" class="btn app-btn-secondary">К списку</a>
					}
				</form>
			</div><!--//app-card-body-->
						    
		</div><!--//app-card-->
	</div>
</div><!--//row-->
