@using Data.Models.Cainiao
@model ConvercionPortal.Pages.CainiaoStatuses.NewStatusEventModel

<h1 class="app-page-title">@ViewData["Title"]</h1>

<div class="row g-4 settings-section">
	<div class="col-12 col-md-4">
		<h3 class="section-title">Вложимое</h3>
		<div class="section-intro">
			<div class="mb-2"><strong>EncloseId:</strong> @Model.encloseEvent.EncloseId</div>
		    <div class="mb-2"><strong>EncloseOwnerId:</strong> @Model.encloseEvent.EncloseOwnerId</div>
			<div class="mb-2"><strong>Флаг проблемы:</strong> @Model.encloseEvent.TroubleFlag</div>
			<div class="mb-2"><strong>Завершена:</strong> @Model.encloseEvent.IsFinished</div>
			<div>Отредактируйте событие в форме справа</div>
		</div>
	</div>
	<div class="col-12 col-md-8">
		<div class="app-card app-card-settings shadow-sm p-4">
						    
			<div class="app-card-body">
				<form class="settings-form" enctype="multipart/form-data" method="post">
					<input type="hidden" asp-for="@Model.encloseEvent.EncloseId">
					<input type="hidden" asp-for="@Model.encloseEvent.EncloseOwnerId">
					<input type="hidden" asp-for="@Model.statusHistoryOrder">
					<div class="mb-3">
						<label asp-for="@Model.newStatusHistoryOrder" class="form-label">№№</label>
						<input type="text" class="form-control" asp-for="@Model.newStatusHistoryOrder">
						<span asp-validation-for="@Model.newStatusHistoryOrder" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="@Model.encloseEvent.EncloseId" class="form-label">Статус ПП<span class="ms-2" data-container="body" data-bs-toggle="popover" data-trigger="hover" data-placement="top" data-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
<path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
<circle cx="8" cy="4.5" r="1"/>
</svg></span></label>

                        
						<input type="text" class="form-control" asp-for="@Model.historyRecord.VisualState">
						<span asp-validation-for="@Model.historyRecord.VisualState" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="@Model.historyRecord.CainiaoCallback" class="form-label">Статус Cainiao</label>
						<select class="form-control" asp-for="@Model.historyRecord.CainiaoCallback" asp-items="@Model.ListCainiaoStatuses">
							<option value="">Выберите тип запроса</option>
						</select>
						<span asp-validation-for="@Model.historyRecord.CainiaoCallback" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="@Model.historyRecord.OpCode" class="form-label">OpCode</label>
						<input type="text" class="form-control" asp-for="@Model.historyRecord.OpCode">
						<span asp-validation-for="@Model.historyRecord.OpCode" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<input type="checkbox" class="form-check-input" asp-for="@Model.historyRecord.IsCainiaoCallbackSended">
						<label asp-for="@Model.historyRecord.IsCainiaoCallbackSended" class="form-label">Отправлено в CN</label>
						<span asp-validation-for="@Model.historyRecord.IsCainiaoCallbackSended" class="text-danger"></span>
					</div>


					<button type="submit" class="btn app-btn-primary" >Сохранить</button>
					<a  asp-page="/CainiaoStatuses/EncloseStatus" asp-route-EncloseId="@Model.encloseEvent.EncloseId"  asp-route-EncloseOwnerId="@Model.encloseEvent.EncloseOwnerId" class="btn app-btn-secondary">Назад</a>
					
				</form>
			</div><!--//app-card-body-->
						    
		</div><!--//app-card-->
	</div>
</div><!--//row-->
