@page
@using ConvercionPortal.Models
@using Data.Models.Cainiao
@model ConvercionPortal.Pages.CainiaoStatuses.EncloseStatusListModel
@{
  var parms = new Dictionary<string, string>
              {
                { "SearchEncloseId", $"{Model.SearchEncloseId}" },
                { "SearchEncloseOwnerId", $"{Model.SearchEncloseOwnerId}" },
				{ "SearchTroubleFlag", $"{Model.SearchTroubleFlag}" },
				{ "SearchFinishedFlag", $"{Model.SearchFinishedFlag}" },
				{ "PageNumber", "1" }
            };
}


<partial name="_EncloseStatusListHeaderPartial.cshtml" />

<div class="tab-content" id="orders-table-tab-content">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
		<div class="app-card-body">
			<partial name="_EncloseStatusListTablePartial.cshtml" model="Model" />
        </div>
    </div>
</div>

<div class="row g-5 settings-section">
	<nav class="app-pagination">
		<ul class="pagination justify-content-center">

			<li class="@(Model.PageNumber > 0 ? "page-item" : "page-item disabled")">
				@{
					string ariaDisabled = Model.PageNumber > 0 ? "true" : "false";
					parms["PageNumber"] = $"{Model.PageNumber - 1}";
				}
				<a class="page-link" tabindex="-1" aria-disabled="@ariaDisabled" asp-page="/CainiaoStatuses/EncloseStatusList" asp-all-route-data="parms">Пред.</a>
			</li>

			@for(int pageNumber = 0 ; pageNumber < @Model.PageCount; pageNumber++) {
				string itemClass = pageNumber == @Model.PageNumber ? "page-item active" : "page-item";
				parms["PageNumber"] = $"{pageNumber}";
				<li class="@itemClass"><a class="page-link" asp-page="/CainiaoStatuses/EncloseStatusList"
				asp-all-route-data="parms">@(pageNumber + 1)</a></li>
			}

			<li class="@(Model.PageNumber < Model.PageCount -1 ? "page-item" : "page-item disabled")" >
				@{parms["PageNumber"] = $"{Model.PageNumber + 1}"; }
				<a class="page-link" asp-page="/CainiaoStatuses/EncloseStatusList" asp-all-route-data="parms">След.</a>
			</li>
		</ul>
	</nav>
</div>

