@page
@using ConvercionPortal.Models
@model ConvercionPortal.Pages.CainiaoStatuses.EncloseAndStatusListModel
@{
    ViewData["search-name-text"] = Request.Query.FirstOrDefault(p => p.Key == "search-name").Value;
    ViewData["search-url-text"] = Request.Query.FirstOrDefault(p => p.Key == "search-url").Value;
    ViewData["search-description-text"] = Request.Query.FirstOrDefault(p => p.Key == "search-description").Value;
}

<partial name="_EncloseAndStatusListHeaderPartial.cshtml" />

<div class="tab-content" id="orders-table-tab-content">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
		<div class="app-card-body">
			<div class="table-responsive">
                <table class="table app-table-hover mb-0 text-left">
                    <thead>
						<tr>
							<th class="cell">Id</th>
                            <th class="cell">OwnerId</th>
							<th class="cell">TroubleFlag</th>
							<th class="cell">FinishedFlag</th>
							<th class="cell"></th>
						</tr>
					</thead>

                    <tbody>
                        @foreach(EncloseAndCNStatus encloseAndCNStatus in Model.EncloseAndCNStatuses)
                        {
                            <tr>
								<td class="cell">@encloseAndCNStatus.Id</td>
                                <td class="cell">@encloseAndCNStatus.OwnerId</td>
                                <td class="cell">@encloseAndCNStatus.TroubleFlag</td>
								<td class="cell">@encloseAndCNStatus.FinishedFlag</td>
								<td class="cell"><a class="btn-sm app-btn-secondary" asp-page="/CainiaoStatuses/EncloseAndStatus" asp-route-ID="@encloseAndCNStatus.Id-@encloseAndCNStatus.OwnerId">Открыть</a></td>
							</tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
