@page
@using ConvercionPortal.Models
@model ConvercionPortal.Pages.CainiaoStatuses.EncloseAndStatusListModel


<partial name="_EncloseAndStatusListHeaderPartial.cshtml" />

<div class="tab-content" id="orders-table-tab-content">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
		<div class="app-card-body">
			<div class="table-responsive">
                <table class="table app-table-hover mb-0 text-left">
                    <thead>
						<tr>
							<th class="cell">EncloseId</th>
                            <th class="cell">EncloseOwnerId</th>
							<th class="cell">TroubleFlag</th>
							<th class="cell">FinishedFlag</th>
							<th class="cell"></th>
						</tr>
					</thead>

                    <tbody>
                        @foreach(EncloseAndCNStatus encloseAndCNStatus in Model.EncloseAndCNStatuses)
                        {
                            <tr>
								<td class="cell">@encloseAndCNStatus.EncloseId</td>
                                <td class="cell">@encloseAndCNStatus.EncloseOwnerId</td>
                                <td class="cell">@encloseAndCNStatus.TroubleFlag</td>
								<td class="cell">@encloseAndCNStatus.FinishedFlag</td>
								<td class="cell"><a class="btn-sm app-btn-secondary" asp-page="/CainiaoStatuses/EncloseAndStatus" asp-route-ID="@encloseAndCNStatus.StringId()">Открыть</a></td>
							</tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
